.pagination {
  &__list {
    display: flex;
    gap: 12px;
    margin: 28px 0 20px 20px;
  }

  &__page{
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #fff;

    &_type_active{
      border-color: var(--color-red);

      .pagination__page-btn{
        color: var(--color-red);
      }
    }
  }

  &__page-btn{
    font-weight: 500;
    line-height: 1.42;
    color: var(--color-pagination);
  }

  &__next-btn {
    padding: 11px;

    img {
      width: 18px;
      height: 18px;
    }
  }
}