body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, ul, li, p {
  margin: 0;
  padding: 0
}

a {
  @include reset-link;
  opacity: 1;
  transition: background-color var(--transition-duration) ease;

  &:hover {
    opacity: .8;
  }
}

button {
  @include reset-button;
  opacity: 1;
  transition: background-color var(--transition-duration) ease;

  &:hover {
    opacity: .8;
  }
}

li {
  list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}