:root {
  --color-red: #a85757;
  --color-grey: #c5c0c0;
  --color-white: #fff;
  --color-white-dark: #f6f4f4;
  --color-light-grey: #dfdddd;
  --color-dark-grey: #514a4a;
  --color-dark: #352424;
  --color-pagination: #4f4d55;
  --color-popup-description: #8d8585;


  --font-family-base: 'Inter', sans-serif;

  --transition-duration: .2s;
}
