.dropdown{
  &__label{
    line-height: 1.42;
    color: #514a4a;
    margin-right: 13px;
  }

  &__select{
    border-radius: 6px;
    background-color: #514A4A;
    height: 40px;
    line-height: 1.42857;
    letter-spacing: 0em;
    color: #fff;
    padding-left: 16px;
    padding-right: 44px;
    -webkit-appearance: none; /* Скрыть стрелку в Safari/Chrome */
    -moz-appearance: none; /* Скрыть стрелку в Firefox */
    appearance: none; /* Скрыть стрелку в других браузерах */
    background-image: url('../../utils/images/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: 40px 10px;
    outline: none;
    cursor: pointer;
  }

  &__element {
    padding-left: 10px;
    cursor: pointer;
  }
}