.header {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-inline: 20px;
  padding-bottom: 45px;
  &__title {
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: var(--color-dark);
  }

  &__title-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .search {
    margin-left: auto;
  }

  &__btn-add {
    background-color: var(--color-red);
    display: flex;
    align-items: center;
    gap: 8px;
    padding-inline: 14px;
    border-radius: 4px;
    margin-left: 16px;
    color: var(--color-white);
  }
}